
@font-face {
  font-family: 'StarJediRounded';
  src: url('StarJediRounded.eot?#iefix') format('embedded-opentype'),  url('StarJediRounded.woff') format('woff'), url('StarJediRounded.ttf')  format('truetype'), url('StarJediRounded.svg#StarJediRounded') format('svg');
  font-weight: normal;
  font-style: normal;
}
